@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes App</h1>
    <p>This is a demo application created with the freeCodeCamp tutorial
        <a href="https://www.youtube.com/watch?v=BfEjDD8mWYg&ab_channel=freeCodeCamp.org" target="_blank">Build a C# .NET Core App in 24 Hours</a>.
    </p>
</div>
